.work_sec {
  padding: 8rem 0;
  text-align: center;
  min-height: 30vh;
  background-color: #e8f2fc;
  border-top: 1px solid #80808078;

  .px-app_heading_two {
    width: 96%;
    max-width: 877px;
    h2 {
      margin: 0 0 1.5rem 0;
    }
  }
  .paragraph__ {
    color: #303441;
    text-align: right;
    margin-bottom: 3.4rem;
  }
  .px-app-button {
    .fitter_text_button {
      color: $black;
      border: 0.1rem solid $black;
      padding-left: 3rem;
      padding-right: 3rem;
      &::after {
        background-color: $black;
      }
    }
  }
  .work_ {
    background: $black;
    color: $white;
  }
}
